body {
	background-color: #eceff1;
	color: #444;
	font-size: 16px;
	line-height: 1.6em;
}
a {
	color: #827717;
}
a:hover {
	color: #9e9d24;
	text-decoration: none;
}

div.post img {
	max-width: 100%;
}
abbr {
	border-bottom: 1px dotted;
	cursor: help;
}

#header {
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	height: 44px;
	z-index: 100;
	width: 100%;
}
#header-padding {
	height:44px;
}
#header .gravatar {
	border-radius: 20px;
	margin-top: 2px;
	border: 2px solid #cddc39;
}
#header .title {
	vertical-align: middle;
	margin-left: 7px;
	font-size: 1.2em;
	display: inline-block;
	padding-top: 5px;
}
#header .about {
	display: inline-block;
	margin-top: 12px;
	margin-left: -8px;
}

.content, .sidebar {
	background-color: #fff;
	margin-top: 16px;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
.sidebar {
	width: 263px;
	padding: 10px;
	font-size: 14px;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

.sidebar .gravatar {
	border-radius: 64px;
	margin-left: 53px;
	margin-top: 1em;
	border: 4px solid #cddc39;
}
span.author {
	display: block;
	font-weight: bold;
	font-size: 1.3em;
	margin-top: .5em;
	text-align: center;
}
span.welcome-message {
	display: block;
	margin: .5em 0;
	padding: 0 1em 0 1em;
	text-align: justify;
}
form.form-inline {
	margin: 1em 0 1em 0;
	text-align: center;
}
ul.about, ul.recent-posts, ul.projects, ul.contact {
	list-style-type: none;
	padding-left: 1em;
	margin-top: 0;
}
ul.about {
	padding: 0;
	text-align: center;
	font-size: 0.85em;
	margin-top: 0;
	margin-bottom: 0;
}
ul.about > li {
	display: inline-block;
	margin: 0 4px 0 4px;
}
div.sidebar a.archives {
	margin-left: 33%;
}
a.rentbook {
  color: #5755d9;
}
img.rentbook-logo {
	vertical-align: text-top;
}
ul.contact {
	margin-bottom: 0.5em;
}
p.license {
	text-align: center;
	font-size: 0.85em;
	line-height: 1.3em;
}
span.post-date, span.post-tags, span.post-comments {
	display: block;
	color: #666;
	font-size: 0.85em;
}

img.center-image {
	margin: 0 auto;
	display: block;
}
.wp-caption-text {
	font-style: italic;
	color: #666;
	font-size: 0.9em;
	margin-top: -10px;
	text-align: center;
}

ol.breadcrumb {
	margin-bottom: 0px;
	padding: 10px 7px 0px 1px;
	background-color: inherit;
	font-size: 1.3rem;
	/*-webkit-margin-after: 0;*/
}

div.post-header {
	margin-bottom: 1em;
}

div.post-footer {
	margin-top: 5em;
	margin-bottom: 1em;
	color: #777;
	font-size: 0.85em;
}
div.post-footer > span.author  {
	text-align: left;
	font-weight: bold;
	font-size: 1.2em;
}
ul.related-posts {
	list-style-type: none;
	line-height: 1.3em;
	padding-left: 1.5em;
}
a.related-post {
	display: block;
}
span.related-date, span.related-comment {
	font-size: 0.85em;
	min-width: 140px;
	display: inline-block;
}


#archives > h3 {
	border-bottom: 1px solid #eee;
}

.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify;
  font-size: 1.3em;
}
.tag-cloud > li {
  display: inline-block;
}

#archives {
  padding: 5px;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 5px;
}

.nowrap {
	white-space: nowrap;
}

table.hdd-vs-ssd thead {
	font-size: 0.85em;
}
span.table-subheading {
	font-size: 1.25em;
	display: block;
	margin-bottom: 1em;
}
td.align-right {
	text-align: right;
}
table.hdd-vs-ssd tfoot {
	font-weight: bold;
}


.footer {
	margin-top: 3em;
	margin-bottom: 5em;
	text-align: center;
	font-size: 0.85em;
}

/* make the terminal look like a mini terminal */
.fa.fa-terminal {
	background-color: #444;
	color: white;
	padding: 0 4px 2px 3px;
	border-radius: 3px;
	margin-right: 4px;
}
.fa.fa-terminal > span {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	margin-left: 3px;
}

/* colour sticky notes */
.fa.fa-sticky-note {
	color: #e0dd42;
	margin-right: 4px;
}

/* Keyboard key styling, thanks StackOverflow! */
kbd {
	display: inline-block;
	margin: 0 .1em;
	padding: .1em .6em;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 11px;
	line-height: 1.4;
	color: #242729;
	text-shadow: 0 1px 0 #FFF;
	background-color: #e1e3e5;
	border: 1px solid #adb3b9;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
	white-space: nowrap;
}

/* footnotes */
.footnotes li {
	color: #777;
	font-style: italic;
}

/* style console code blocks to be inverse colours */
.language-console > .highlight > .highlight,
.language-console > .highlight > .highlight .gp,
.language-console > .highlight > .highlight .s1 {
	color: #f5f5f5;
	background-color: #333;
}
.language-console > .highlight > .highlight .c {
	color: #00ad00;
}