<div id="header" class="affix visible-xs visible-sm">
  <div class="container">
    <div class="row visible-sm-block">
      <div class="col-sm-10">
        <a href="/">
          <img class="gravatar"
            src="https://www.gravatar.com/avatar/b873b1a5199eeefff7a7c1531f02324a?s=40&r=PG"
            width="40px"
            height="40px"
            alt="Andrew Freemantle" />
          <span class="title">{{ site.header-title-sm }}</span>
        </a>
      </div>
      <div class="col-sm-2">
        <a href="/aboutme" title="About" class="about pull-right"><i class="fa fa-question-circle"></i> About</a>
      </div>
    </div>

    <div class="row visible-xs-block">
      <div class="col-xs-6">
        <a href="/">
          <img class="gravatar"
            src="https://www.gravatar.com/avatar/b873b1a5199eeefff7a7c1531f02324a?s=40&r=PG"
            width="40px"
            height="40px"
            alt="Andrew Freemantle" />
          <span class="title">{{ site.header-title-xs }}</span>
        </a>
      </div>
      <div class="col-xs-6">
        <a href="/aboutme" title="About" class="about"><i class="fa fa-question-circle"></i> About</a>
      </div>
    </div>
  </div>
</div>

<div id="header-padding" class="visible-xs visible-sm"></div>