---
layout: default
---

<div class="post">
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li><a href="/archives/#{{ page.date | date: '%Y' }}">{{ page.date | date: '%Y' }}</a></li>
    <li class="active">{{ page.title }}</li>
  </ol>
  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% include post-date.html %}
    {% include post-tags.html %}
    {% include post-comments.html %}
  </div>


  {{ content }}


  {% include post-footer.html %}
  <a href="#" name="post-comments" class="invisible">comments</a>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'fatlemon';
    var disqus_url = 'http://www.fatlemon.co.uk{{ page.url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

<div class="related">
  <h4>Related Posts</h4>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <a class="related-post" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      <span class="related-date text-muted"><i class="fa fa-fw fa-calendar"></i> {{ post.date | date: '%-d %B %Y' }}</span>
      <span class="related-comment text-muted"><i class="fa fa-fw fa-comment"></i> <span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ post.url }}"> 0 Comments</span></span>
    </li>
    {% endfor %}
  </ul>
</div>
